body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border: 2px solid #adadad;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#instLink, #editLink, #rateLink, #deleteLink {
    padding: 5px 15px;
    background-color: rgb(172, 208, 236);
    border: none;
}

#instLink:hover, #editLink:hover, #rateLink:hover {
    background-color: rgb(36, 111, 90);
    color: #fff;
}

#deleteLink {
    background-color: rgb(255, 171, 171);
}

#deleteLink:hover {
    background-color: red;
    color: #fff;
}

a:hover {
    background-color: #0066cc;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form section {
    margin-bottom: 20px;
}

form h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button, input[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #004080;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #0066cc;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 10px 0;
}
